@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background-color: rgb(250, 245, 245);
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #EEE5CE;
  color: black;
  padding: 16px;
  margin: 16px;
}

h2, h3 {
  font-family: 'Luxurious Roman', cursive;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: rgb(124, 56, 25);
  color: white;
}

h6 {
  margin-bottom: 8px;
}
